{% extends 'base.html.twig' %}

{% block body %}
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Holow the Inski</h1>
                        <hr class="small">
                        <span class="subheading">Un blog para probar</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="post/{{ post.getId }}">
                            <h2 class="post-title">
                                {{ post.getTitle }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.getSubTitle }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">{{ post.getAuthor }}</a> on</p>
                    </div>
                    <hr>
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}